<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="/public/auto-complete.css">
  </head>

  <body ng-cloak ng-app="filmLocations" >
    <header>
      <h2>Film shoot locations in San Francisco</h2>
    </header>

    <div id="inputForm" ng-controller="SearchCtrl" ng-cloak>
      <form autofill-submit="searchTitles()">
        <input autofill id="text" type="text" ng-model="input" placeholder="Search Film Titles">
        <input id= "submit" type="submit">
      </form>
      <h3>{{filmTitle}}</h3>
      <p>{{intro}}</p>
      <ul>
        <li ng-repeat="location in locations">{{location}}</li>
      </ul>
    </div>    
    <div ng-controller="MapCtrl">{{error}}
      <div id="map" >
        <div ng-repeat="marker in markers">
           <a href="#" ng-click="openInfoWindow($event, marker)"></a>
        </div>
      </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7bLeLKQlpKt6Z-1oA2cNOKRZ4Kw8NHng"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/autofill-directive/autofill-directive.js"></script>
    <script type="text/javascript" src="/public/auto-complete.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="/public/app.js"></script>

  </body>

</html>