header{
	text-align: center;
	padding-top: 30px;
}

#inputForm{
	width: 300px;
  	height: 400px;
	float:left;
	display: inline-block;
	margin: 40px;
}

#text{
	width: 200px;
	height: 30px;
	font-size: 1.02em;
}

#map {
  width: 430px;
  height: 430px;
  margin: 50px 20px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
}


#submit{
	width: 80px;
	height: 40px;
	font-size: 1.02em;
}